<% form_for @producto do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :categoria_id %><br />
    <%= select("producto", "categoria_id",
      Categoria.find(:all).collect {|p| [p.titulo, p.id]})
    %>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :contenido %><br />
    <%= f.text_area :contenido %>
  </p>
  <p><%= f.submit %></p>
<% end %>
